{% extends 'base.html' %}
{% block title %}
  Accounts
{% endblock title %}
{% block content %}
  <div>
    <h1>Signup</h1>
    <form method='post'>
      {% csrf_token %}
      <div>
        {{ form.username.label_tag }}
        {{ form.username }}
      </div>
      <div>
          {{ form.password.label_tag }}
          {{ form.password }}
      </div>
      <div>
        {{ form.password_confirmation.label_tag }}
        {{ form.password_confirmation }}
      </div>      
      <button type='submit'>Signup</button>
    </form>
    
  </div>
{% endblock content %}