{% extends 'base.html' %}
{% block title %}
  Receipts
{% endblock title %}
{% block content %}
  <h1>My Receipts</h1>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Number of receipts</th>
      </tr>
    </thead>
    <tbody>
      {% for category in categories %}
        <tr>
          <td>{{ category.name }}</td>
          <td>{{ category.total_receipts }}</td>
          
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock content %}